<html>
    <head>
        <title>
            PyMap
        </title>
        <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    </head>
    <body>
        <h1 id="MainTitle"> PyMap </h1>
        <div id = "LoginWindow">
            <form method="post" action="http://localhost:5000/login">
                <p>Username:</p>
                <input type="text" name = "usernameEntered" /> <br>
                <p>Password:</p>
                <input type="password" name = "passwordEntered" /> <br>
                <br>
                <input type="submit" value="Login" id="LoginButton"/>
            </form>
        </div>
    </body>
</html>