<html>
<head>
    <meta charset="utf-8">
    <title>Zagreb</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
</head>
<body>
    <div>
        <a class="LinkButton" href = "{{url_for('home')}}">Home</a>
        <a class="LinkButton" href = "{{url_for('statistics')}}">Statistics</a>
        <a class="LinkButton" href = "{{url_for('users')}}">Users</a>
        <a class="LinkButton" href = "{{url_for('logout')}}">Logout</a>
    </div>
    <div id="Map">
        {{ map | safe }}
    </div>
</body>
</html>
