<html>
<head>
    <meta charset="utf-8">
    <title>Zagreb</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
</head>
<body>
    <div>
        <a class="LinkButton" href = "{{url_for('home')}}">Home</a>
        <a class="LinkButton" href = "{{url_for('statistics')}}">Statistics</a>
        <a class="LinkButton" href = "{{url_for('users')}}">Users</a>
        <a class="LinkButton" href = "{{url_for('logout')}}">Logout</a>
    </div> 
    <div>
        <h1 id="MainTitle">
            Controllers per constructor
        </h1>
        </p>
            <img src="/./Assets/PerConstructor.png" alt="Slika nije pronađena" id="Image">
        <br>
    </div>
    <div>
        <h1 id="MainTitle">
            Controllers per type
        </h1>
        </p>
            <img src="/./Assets/PerProduct.png" alt="Slika nije pronađena" id="Image">
        <br>
    </div>
    <div>
        <h1 id="MainTitle">
            Controllers per district
        </h1>
        </p>
            <img src="/./Assets/PerDistrict.png" alt="Slika nije pronađena" id="Image">
        <br>
    </div>
</body>
</html>