<html>
<head>
    <meta charset="utf-8">
    <title>Zagreb</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
</head>
<body>
    <div>
        <a class="LinkButton" href = "{{url_for('home')}}">Home</a>
        <a class="LinkButton" href = "{{url_for('statistics')}}">Statistics</a>
        <a class="LinkButton" href = "{{url_for('users')}}">Users</a>
        <a class="LinkButton" href = "{{url_for('logout')}}">Logout</a>
    </div> 
    <div>
        <h1 id="MainTitle">
            Users
        </h1>
        <table id="Table1">
            <tr>
                <td id="TableLeft">USER</td>
                <td id="TableRight">PASSWORD</td>
            </tr>
            {%for user in users%}
            <tr>
                <td id="TableLeft">{{user.username}}</td>
                <td id="TableRight">{{user.password}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div>
        <h2 id="MainTitle">
            New user
        </h2>
        <div id = "LoginWindow">
            <form method="post" action="http://localhost:5000/register">
                <p>Username:</p>
                <input type="text" name = "newUsername" /> <br>
                <p>Password:</p>
                <input type="password" name = "newPassword" /> <br>
                <br>
                <input type="submit" value="Register" />
            </form>
        </div>
    </div>
</body>
</html>