body{
    background-color: rgb(117, 117, 117)
}

#MainTitle{
    margin-top: 5%;
    text-align: center;
    color: rgb(82, 82, 82);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-size: 70px;
    
}

#LoginWindow{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#LoginButton{
    background: rgb(82, 82, 82);
	color: rgb(37, 37, 37);
	border-style: outset;
	border-color: rgb(100, 100, 100);
	height: 35px;
	width: 80px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-shadow: none;
}

#Map{
    position: absolute;
    width: 100%;
    height: 92%;
    left: 0;
    overflow: hidden
}

#Image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

#Table1{
    border: 1px solid black;
    width:30%;
    margin-left: auto;
    margin-right: auto;
}

#TableLeft{
    text-align: left; 
    border: 1px solid black;
}

#TableRight{
    text-align: right; 
    border: 1px solid black;
}

.LinkButton{
    text-decoration: none;
    background: rgb(82, 82, 82);
	color: rgb(37, 37, 37);
    border-style: hidden ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
